:root {
  --primary-color: black;
  --secondary-color: gray;

  --bg-primary: #fff;
  --bg-seconary: #f4f4f4;

  --accent: rgba(119, 19, 23, 0.97);

  --bg-overlay: rgba(0, 0, 0, 0.1);

  --border-raduis: 10px;

  --shadow-color: #d1d1d1;

  --elements-color: gray;
  --elements-color-hover: black;

  --border-color: #b8b8b8;
  --footer-color: #E9F2FAFF;

  --link-color: #3A9AFC;

  --rating-hover: #FECC29;

  --accent-message: #c7d7e6;
}